<div class="banner-top text-center" [style.background-image]="'url(assets/banner.jpg)'">
	
	<h1 class="heading">About Us</h1>
	
</div>

<div class="top-image container ">
	<img class="w-100" src="assets/img/about.jpg" alt="">
</div>

<div class="container">
	<div class="row about-text px-3">
		<div class="col-xl-6 about-text-left">
			<h5 class="head">ABOUT US</h5>
			<p >Lorem ipsum dolor sitdoni amet, consectetur donald adipis elite for. Vivamus interdum ultrices augue. Aenean dos cursus lania. Duis et fringilla leonardo. Mauris mattis sem, debut curus risus viverra sed. Vestibul vitae velit felis. Nulla placerat orci ante casat. Pellentesque ac placerat . Cras urna duis, ornare cursus purus.</p>
			<p>Ut vel auctor ligula. Aenean nec dui pretium, commodo ligula sit amet, faucibus purus. Mauris at dolor imperdiet, aliquet nisi non, vulputate est. Maecenas feugiat sagittis lacus. Mauris dinissim consequat tellus id congue. Mauris bendum mollis viverra. Vestibulum in leo placerat sollicitudin varius.</p>
		</div>
		<div class="col-xl-6 about-text-right">
			<h5 class="head">OUR QUALITY</h5>
			<p>Donec enim ipsum porta justo integer at velna vitae auctor integer congue magna at risus auctor purus unt pretium ligula rutrum integer sapien ultrice ligula luctus undo magna risus</p>
			<ul class="about-list">
				<li><i class="fa fa-check-circle-o"></i>Lorem ipsum dolor sitdoni amet, consectetur dont adipis elite vivamus interdum.</li>
				<li><i class="fa fa-check-circle-o"></i>Integer pulvinar ante nulla, ac fermentum ex congue id vestibulum ensectetur. </li>
				<li><i class="fa fa-check-circle-o"></i>Proin blandit nibh in quam semper iaculis lorem ipsum dolor salama ender.</li>
				<li><i class="fa fa-check-circle-o"></i>Mauris at dolor imperdiet, aliquet nisi non, vulputate est sit amet.</li>
			</ul>
		</div>
	</div>
</div>
<div class="test ">
	<app-testimonials></app-testimonials>
</div>


<app-team></app-team>

<app-footer></app-footer>
