<div class="row">
  <div class="col-md-4">
    <div class="fcard-btm">
      <div class="fcard-img" [style.background-image]="'url(assets/img/propertie/2.jpg)'">
        <div class="fcard-sale">FOR SALE</div>
      </div>
      <div class="fcard-text">
        <div class="text-center fcard-title">
          <h5>1963 S Crescent Heights Blvd</h5>
          <p><i class="fa fa-map-marker"></i> Los Angeles, CA 90034</p>
        </div>
        <div class="fcard-roominfo-warp">
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-th-large"></i> 800 Square foot</p>
              <p><i class="fa fa-bed"></i> 10 Bedrooms</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-car"></i> 2 Garages</p>
              <p><i class="fa fa-bath"></i> 6 Bathrooms</p>
            </div>
          </div>
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-user"></i> Tony Holland</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-clock-o"></i> 1 days ago</p>
            </div>
          </div>
        </div>
        <a href="#" class="fcard-price">$1,200,000</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="fcard-item">
      <div class="fcard-img" [style.background-image]="'url(../../assets/img/propertie/1.jpg)'">
        <div class="fcard-sale">FOR SALE</div>
      </div>
      <div class="fcard-text">
        <div class="text-center fcard-title">
          <h5>1963 S Crescent Heights Blvd</h5>
          <p><i class="fa fa-map-marker"></i> Los Angeles, CA 90034</p>
        </div>
        <div class="fcard-roominfo-warp">
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-th-large"></i> 800 Square foot</p>
              <p><i class="fa fa-bed"></i> 10 Bedrooms</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-car"></i> 2 Garages</p>
              <p><i class="fa fa-bath"></i> 6 Bathrooms</p>
            </div>
          </div>
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-user"></i> Tony Holland</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-clock-o"></i> 1 days ago</p>
            </div>
          </div>
        </div>
        <a href="#" class="fcard-price">$1,200,000</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="fcard-item">
      <div class="fcard-img" [style.background-image]="'url(../../assets/img/propertie/1.jpg)'">
        <div class="fcard-sale">FOR SALE</div>
      </div>
      <div class="fcard-text">
        <div class="text-center fcard-title">
          <h5>1963 S Crescent Heights Blvd</h5>
          <p><i class="fa fa-map-marker"></i> Los Angeles, CA 90034</p>
        </div>
        <div class="fcard-roominfo-warp">
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-th-large"></i> 800 Square foot</p>
              <p><i class="fa fa-bed"></i> 10 Bedrooms</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-car"></i> 2 Garages</p>
              <p><i class="fa fa-bath"></i> 6 Bathrooms</p>
            </div>
          </div>
          <div class="fcard-roominfo">
            <div class="float-left">
              <p><i class="fa fa-user"></i> Tony Holland</p>
            </div>
            <div class="float-right">
              <p><i class="fa fa-clock-o"></i> 1 days ago</p>
            </div>
          </div>
        </div>
        <a href="#" class="fcard-price">$1,200,000</a>
      </div>
    </div>
  </div>
</div>
