<ngb-carousel >
    <ng-template ngbSlide>
      <div class="c-image">
        <img src="../../../assets/img/review-bg.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
          <div class="rating mb-5">
							<i class="fa fa-star pr-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star pl-2"></i>
            </div>
            <p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
            <br>
            <h5 class="name">Stacy Mc Neeley</h5>
            <span>CEP’s Director</span>
            <br> <br>
            <img src="../../../assets/img/review/1.jpg" alt="" class="pic">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="c-image">
        <img src="../../../assets/img/review-bg.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
          <div class="rating mb-5">
							<i class="fa fa-star pr-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star pl-2"></i>
            </div>
            <p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
            <br>
            <h5 class="name">Stacy Mc Neeley</h5>
            <span>CEP’s Director</span>
            <br> <br>
            <img src="../../../assets/img/review/1.jpg" alt="" class="pic">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="c-image">
        <img src="../../../assets/img/review-bg.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
          <div class="rating mb-5">
							<i class="fa fa-star pr-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star pl-2"></i>
            </div>
            <p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
            <br>
            <h5 class="name">Stacy Mc Neeley</h5>
            <span>CEP’s Director</span>
            <br> <br>
            <img src="../../../assets/img/review/1.jpg" alt="" class="pic">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="c-image">
        <img src="../../../assets/img/review-bg.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
          <div class="rating mb-5">
							<i class="fa fa-star pr-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star px-2"></i>
							<i class="fa fa-star pl-2"></i>
            </div>
            <p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
            <br>
            <h5 class="name">Stacy Mc Neeley</h5>
            <span>CEP’s Director</span>
            <br> <br>
            <img src="../../../assets/img/review/1.jpg" alt="" class="pic">
      </div>
    </ng-template>
  </ngb-carousel>
