
<div class=" container">
  <div class="heading py-3">
    <h2>Property Details</h2>
  </div>

  <div class="details">
     <div class="row mt-3">
       <div class="col-sm-4">
         <p class="p-details text-center">
          <i class="fas fa-street-view px-3"></i> Location
         </p>
       </div>
       <div class="col-sm-4">
        <p class="p-details text-center">
          <i class="fas fa-street-view px-3"></i> Location
         </p>
       </div>
       <div class="col-sm-4">
        <p class="p-details text-center">
          <i class="fas fa-street-view px-3"></i> Location
         </p>
       </div>
     </div>

     <div class="row mt-3">
      <div class="col-sm-4">
        <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
      <div class="col-sm-4">
       <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
      <div class="col-sm-4">
       <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
      <div class="col-sm-4">
       <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
      <div class="col-sm-4">
       <p class="p-details text-center">
         <i class="fas fa-street-view px-3"></i> Location
        </p>
      </div>
    </div>


  </div>


  <div class="heading py-3">
    <h2>Description</h2>
  </div>

  <div class="description">
      <p class="lead my-4 px-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas
         fermentum ornareste. Donec index lorem. Vestibulum aliquet odio, eget tempor libero.
          Cras congue cursus tincidunt. Nullam venenatis dui id orci egestas tincidunt id elit.
           Nullam ut vuputate justo. Integer lacnia pharetra pretium. Casan ante ipsum primis in faucibus orci luctus et ultrice.
      </p>
  </div>

</div>