.contact-form-card {
	padding: 29px;
	border: 1px solid #ebebeb;
	border-radius: 1px;
	margin-bottom: 80px;
}

.contact-form-card h5 {
	font-weight: 400;
	margin-bottom: 30px;
}

.contact-form-card input,
.contact-form-card textarea {
	width: 100%;
	border: 1px solid #ebebeb;
	margin-bottom: 17px;
	height: 36px;
	padding: 0 20px;
}

.contact-form-card textarea {
	height: 100px;
	padding: 10px 20px;
}

.contact-form-card button {
	background: #30caa0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	border: none;
	min-width: 80px;
	height: 30px;
	border-radius: 1px;
	cursor: pointer;
}
