.propertie-item {
	height: 270px;
	position: relative;
	font-family: 'AvenirNextCyr-regular';
	margin-bottom: 30px;
}

.propertie-item:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 15, 0) 32%, rgba(48, 48, 48, 0.9) 100%);	
}

.propertie-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 30px;
	padding-bottom: 20px;
	z-index: 5;
}

.propertie-info h5 {
	margin-bottom: 8px;
	font-weight: 400;
}

.propertie-info p {
	margin-bottom: 0;
}

.propertie-info p i {
	color: #30caa0;
	margin-right: 5px;
}

.propertie-info .info-warp {
	float: left;
}

.propertie-price {
	float: right;
	background: #30caa0;
	padding: 12px;
	min-width: 110px;
	text-align: center;
	border-radius: 2px;
}

.propertie-sale {
	margin: 20px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #e94646;
    padding: 7px 13px;
    display: inline-block;
    border-radius: 2px;
    font-family: 'AvenirNextCyr-light';
    position: relative;
    z-index: 3;
}
