<div class="form container">
    <div class="row">
        <div class="col-md-6 px-5 my-5">
          <img style="max-width: 100%;" src="../../assets/img/contact.jpg" alt="">
        </div>
        <div class="col-md-6 px-5 my-5">
            <div class=" container ">
                <p class="lead heading-content">Get In Touch</p>
                <p> <small class="text-muted">
                     Browse houses and flats for sale and to rent in your area
                    </small>
               </p>

               <div class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" placeholder="Your name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" placeholder="Your email">
                  </div>
                  <div class="col-md-12">
                    <textarea  placeholder="Your message"></textarea>
                  </div>
                  <div class="col-md-12">
                    <button class="site-btn">SUBMIT NOW</button>
                  </div>
                </div>
  
               </div>
              

                </div>
        </div>
    </div>
</div>
