<div class="banner-top text-center" [style.background-image]="'url(assets/home-bg.jpg)'">
  <div class="container">
    <h1 class="banner-heading ">FIND OUR PLACE WITH OUR LOCAL LIFE STYLE <br>
      <small class="lead">Search real estate property records, houses, condos, land and more on leramiz.com®.
        <br> Find property info from the most comprehensive source data.</small><br><br> 
        <a href="" class="btn btn-primary mt-4"> View Detail</a>
      </h1>
    </div>
</div>      
  
  
  