/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'AvenirNextCyr-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Regular'), url('assets/font/AvenirNextCyr-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Italic'), url('assets/font/AvenirNextCyr-Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Demi';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Demi'), url('assets/font/AvenirNextCyr-Demi.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-DemiItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-DemiItalic'), url('assets/font/AvenirNextCyr-DemiItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Thin';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Thin'), url('assets/font/AvenirNextCyr-Thin.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-UltraLight'), url('assets/font/AvenirNextCyr-UltraLight.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-ThinItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-ThinItalic'), url('assets/font/AvenirNextCyr-ThinItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-UltraLightIt';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-UltraLightIt'), url('assets/font/AvenirNextCyr-UltraLightIt.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Light';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Light'), url('assets/font/AvenirNextCyr-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-LightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-LightItalic'), url('assets/font/AvenirNextCyr-LightItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Medium'), url('assets/font/AvenirNextCyr-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-MediumItalic'), url('assets/font/AvenirNextCyr-MediumItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Bold'), url('assets/font/AvenirNextCyr-Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-BoldItalic'), url('assets/font/AvenirNextCyr-BoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-Heavy'), url('assets/font/AvenirNextCyr-Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'AvenirNextCyr-HeavyItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AvenirNextCyr-HeavyItalic'), url('assets/font/AvenirNextCyr-HeavyItalic.woff') format('woff');
    }
