<app-banner></app-banner>
<app-search-bar></app-search-bar>

<div class="my-5 container">
    <div class="text-center">
        <h3 class="mb-3">Recent Properties</h3>
        <p>Discover how much the latest properties have been sold for</p>
    </div>
    <div class="my-5">
        <div class="row">
            <div class="col-md-6">
                <app-recent></app-recent>
            </div>
            <div class="col-md-6">
                <app-recent></app-recent>
            </div>
        </div>
    </div>
</div>
<app-our-services></app-our-services>
<div class="my-5 container">
    <div class="text-center">
        <h3 class="mb-3">Featured Listing</h3>
        <p>Discover how much the latest properties have been sold for</p>
    </div>    
    <div class="my-5">
        <app-featured-card></app-featured-card>
    </div>
</div>

<app-footer></app-footer>