<div class="footer pt-5 px-5" [style.background-image]="'url(assets/stripes.svg)'">
  <div class="row footer-1">
    <div class="col-sm-4 px-3 py-3">
      <img src="assets/logo.png" alt="">
      <p class="content pt-5 font-light">Lorem ipsum dolo sit azmet, consecter dipise
        consult elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.
      </p>
    </div>
    <div class="f-contact col-sm-4 px-5 py-3 font-light">
      <h4>Contact Us</h4>
      <p><i class="fa fa-map-marker"></i> Jaipur </p>
      <p><i class="fa fa-envelope"></i> support@estate.com</p>
      <p><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</p>
      <p><i class="fa fa-phone"></i> (+91) 7877289734 </p>
    </div>
    <div class="f-contact col-sm-4 px-5 py-3 font-light">
      <h4>Newsletter</h4>
      <p class="pt-2">Subscribe you email to get the latest budget flats and new offers.</p>
      <form>
        <div class="user-data">
          <div class="form-group d-inline-flex">
            <input type="email" class="footer_newsinput" placeholder="Email address">
            <button class="btn btn-primary" type="Submit"><i class="fa fa-send"></i></button>
          </div>
        </div>
      </form>    
    </div>
  </div>
  <div class="footer-2 mt-3 font-light">
    <div class="row">
      <div class="col-sm-12 col-md-4 footer-nav">
        <p >2019 @ All Copyright Reserved<br>
           Powered by <a href="https://osditech.com/"> OSDitech</a></p>  
      </div>
      <div class="col-sm-6 col-md-4 font-light">
        <div class="social text-center">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 font-light">
        <div class="footer-nav">
          <ul>
            <li><a routerLink="/home" > Home</a></li>
            <li><a routerLink="/featured-listing" >Featured Listing</a></li>
            <li><a routerLink="/about-us" >About us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
