<div class="search_bar">
  <div class="container">
    <form class="search_form">
      <div class="row">
        <div class="col-md-4 col-sm-10  my-2 ">
          <input 
          type="text" 
          placeholder="Enter a street name, address number or keyword"
          id="location">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5 my-2 text-center">
          <select>
            <option value="City">City</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5 my-2 text-center">
          <select>
            <option value="State">State</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-12 my-2 text-center">
          <button class="search_btn btn_sbt">SEARCH</button>
        </div>
      </div>
    </form>
  </div>
</div>